{% extends "global/Page.html" %}
{% load otree %}

{% block title %}End of experiment. {% endblock %}

{% block content %}

This experiment is now over. 
<p>
You finished with {{ player.participant.payoff }}. 
<p>
This means you earned a cash bonus of: {{ player.virtual_cash_bonus }}. We will pay this via Prolific shortly. 

<p>
In this experiment, we were trying to learn something about how desperation (in this case, having a points level close to or below the threshold) affects decisions about whether to steal from others, and also, how decisions about whether to cooperate or not are affected by the risk of being exploited. The ideas behind this experiment are described in a paper that you can read <a href="https://psyarxiv.com/p2aed/" target="_blank">here</a> (opens in a new window).

<p>
Thank you for taking part. Please return to Prolific by following <a href="www.prolific.co">this link</a>.                                       

{% endblock %}
