{% extends "global/Page.html" %}
{% load otree %}

{% block title %}Instructions{% endblock %}

{% block content %}

Welcome to the experiment. 
<p>
In this experiment, you are working to gain energy points in a virtual environment. You are working in a group with 3 other participants. There are several rounds. You will start off the first round with a certain energy points. Each round, you spend a random number points on keeping yourself alive (between 0 and 20, on average 10). Your goal is to maintain above a certain threshold, and if possible accumulate as many points as possible. 
<p>
At the end of the experiment, your points will be converted to a cash bonus at the rate of 3 pence for every point. However, every round spent below the desperation threshold (100 points of energy) slashes your final payoff by 10 points. You will not know which round is going to be the final round. 
<p>
In every round, you can make one of three choices. You can:
<ul>
    <li> <strong>Work alone. </strong>Working alone gains leaves your energy level unchanged on average. 
    <li> <strong>Cooperate with others.</strong> If you decide to cooperate, and so does at least one other person in your group, and no-one steals (see below), then you and all the other people who decided to cooperate gain 5 points. If you decide to cooperate but everyone else decides to work alone, then you will automatically work alone, since there is no-one else to cooperate with. 
     <li> <strong>Steal from cooperators. </strong>If you decide to steal, and at least one person in the group decides to cooperate, then one of two things can happen. Either you get away with it, in which case you gain 20 points, or you are caught and punished, in which case you lose 40 points. If you cooperate and you are successfully stolen from, you lose your cooperation investment (10 points).</ul>         

Here are some questions to test your understanding of the experiment. 

{% formfields %}

{% next_button %}



{% endblock %}
