{% extends "global/Page.html" %}
{% load otree %}

{% block title %}Instructions{% endblock %}

{% block content %}

Welcome to the experiment. 
<p>
In this experiment, you are working to gain energy points in a virtual environment. There are several rounds. You will start off the first round with a certain number of energy points. Your goal is to {% if session.config.desperation %}maintain your energy above the threshold of {{session.config.threshold}}, and if possible {% endif %} accumulate as many points as possible. 
<p>
At the end of the experiment, your points will be converted to a cash bonus at the rate of 3 pence for every point. {% if session.config.desperation %} However, we will deduct {{session.config.penalty}}p from you cash bonus for every round you spent with fewer than the threshold number of 100 points. {% endif %}
<p>
In every round, you will be put into a group with {{session.vars.num_partners}} other participants, not necessarily the same ones in each round. You can make one of three choices. You can:
<ul>
    <li> <strong>Work alone. </strong>Working alone gains leaves your energy level unchanged on average. 
    <li> <strong>Cooperate with others.</strong> To cooperate, you put {{session.config.victims_payoff}} points in to a joint venture. If someone else also cooperates (and no-one steals), then you get {{group.cooperation_payback}} points back, a gain of {{session.config.cooperation_payoff}} points. However, someone might steal, in which case you would lose the {{session.config.victims_payoff}} points you put in.  
    <li> <strong>Steal from cooperators. </strong>If you decide to steal, and at least one person in the group decides to cooperate, then one of two things can happen. Either you get away with it, in which case you get {{session.config.steal_success_payoff}} points, or you are caught and punished, in which case you lose {{group.steal_failure_payoff_absolute}} points. The probability of getting away with it is {{session.config.steal_success_prob}}.</ul>         
<p>
Please note, if you choose to cooperate but everyone else in the group works alone, then you will work alone too. If you choose to steal but there are no cooperators, you will also work alone. 
<p>
In addition, after each round, your energy points may fluctuate up or down by a small amount, though not in any consistent direction. This reflects random variation in the amount of energy you need to use just to keep warm. 
<p>
The first three rounds are just for practice. What you do in the first three rounds will not affect your energy points. 
<p>
Here are some questions to test your understanding of the experiment. 
{% formfields %}

{% next_button %}


{% endblock %}
