{% extends "global/Page.html" %}
{% load otree %}

{% block title %}Outcome{% endblock %}

{% block content %}

In your group, {{ group.num_cooperators }} cooperated and {{ group.num_stealers }} tried to steal. 
<p>
{{ player.outcome }}
<p>
Your energy level is now {{ player.participant.payoff }}. 
Your payoff is {{ player.Payoff }}. {% if player.participant.payoff < Constants.threshold %} 
<strong>(-10)</strong>
{% endif %}

{% if player.participant.payoff < Constants.threshold %} 
<strong>You are currently below the threshold!</strong>
{% endif %}
                                                     
{% next_button %}




{% endblock %}
